################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Devictus/v15
/Devictus/Debug
/Devictus/x64/Debug
/x64/Debug
